@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  background-color: #eee;
  margin: 0;
  font-family: Open Sans;
}
nav {
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

nav a {
  flex: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: black; 
  transition: all 0.2s;
}

button:hover, nav a:hover, .box:nth-of-type(2n+1):hover{
  background: #2196F3;
  color: white;
}



.active {
  border-bottom: 10px solid #2196F3;
  padding-top: 10px;
}

.activeOrange {
  border-bottom: 10px solid #fa6800;
  padding-top: 10px;

}

.activeOrange:hover {
  border: 10px solid #2196F3;
}

main {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("cookies.jpg");
  background-repeat: no-repeat;
  background-position: 10% 0%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  color: white;
}

.orderContainer {
  display: flex;
  height: calc(100vh - 80px);

}

.box3 {
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  align-items: center ;
  width: 50%;
}

.box-11 {
  padding-top: 2%;
  display: flex;
  align-items: flex-start;
  /* padding-left: 5%; */
}
.box-11-top {
  height: 50%;
  border-bottom:5px dashed #fa6800;
}

.box-11-bottom {
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;

}

.btm {
  font-size: 18px;
  text-align:center;
width: 50%;
  box-sizing: border-box;
}

.btm img {

  max-width: 80%;

}

.right {
  padding-right: 5%;
}



.box-10 img {

  max-width: 50%;
  max-height: 50% ;

}


/* .box-10:hover {
font-size: 18px;
box-sizing: border-box;
background: #2196F3;
  color: white;

} */

.box-11-top img {
  padding-left: 4%;
  max-width: 8%;
}

.box-11 h1 {

  font-size: 3em;
  border-bottom: 5px dashed #fa6800;

}

.box-11 h3 {
  padding-top: 0%;
  text-align: start;
}



h1, h2 {
  margin:  0;
}

h1 {
  font-size: 5em;
}

button {

margin-top: 10px; 
margin-bottom: 35px;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  /* size: 10%; */

}

.how-container {

  display: flex;
  /* border: 8px solid black; */
  justify-content: center;
  height: 50vh;
  

}

.box {
  width: 30%;
  transition: all 0.2s;
} 

.box-1 {
  background: #1ba1e2; 
}
.box-2:hover, .box2 img:hover{
  border:5px dashed #fa6800;
  font-size: 20px;
  box-sizing: border-box;

}
.box-3 {
  background: #1ba1e2; 
}

.header {
  text-align: center;
  margin: 3% 5%;
}

.how-container img {
  padding-top: 5%;
  margin: auto;
  width:25%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box-2 img {
  width: 50%;
}

h3 {
  padding-top: 5%;
  text-align: center;
}

.cookiesContainer {
  display: flex;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  height: 20%;
  
  
}

.box2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
 
}
.box2:nth-of-type(4n+1){
  align-items: flex-end;
  padding-right: 3%;
}

.box-7 {
  padding-left: 3%;
}

.box2 h2 {
  display: block;
}

.box2 img {
  margin: auto;
  max-width: 90%
}

.imgContainer {

  height: calc(75vh - 80px);
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  margin: 30px auto 30px auto;

}

.imgContainer img {
  max-width: 90%;
  border: 2px solid grey;
  
}

p {
  text-align: justify;
  margin-right: 30%;
  margin-left: 30%;
  font-size: 20px;
}
p+h2 {

}
p+h2:hover, .imgContainer+h1:hover{
  color:#2196F3;
  text-decoration: dashed underline #fa6800;
  text-transform: lowercase;
}

.section {
  height: calc(100vh - 80px);
  display: flex;
  background-color: white;

}

/* .section:hover {
  background-color: #fa6800;
} */

video { height: 100%;
  width:70%;

}
 
/* form */

#contactForm {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  width: 30%;
  background-color: white;
}

#contactForm input, textarea {
  letter-spacing: 2px;
  font: 200 1em/1.1em 'Helvetica Neue', sans-serif;
  
  color: #000;
  background-color: RGBA(204, 204, 204, .1);

  outline: none; border: none;

  display:block;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
  max-width: 400px;
  border: 1px solid #1ba1e2;
}

#contactForm textarea {
height: 150px;
}

#contactForm *:focus {
background-color: RGBA(254, 191, 4, 1);
}

#contactForm *:hover {
background-color: RGBA(254, 191, 4, 1);
}

#contactForm h2:hover {
  background-color: white;
}

@media screen and (min-width: 400px) {
  .imgContainer img {
   width: 400p;
  }
}